<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
		<h4 class="card-header">Stocks</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Shares</th>
          <th scope="col">Purchase Price</th>
          <th scope="col">Purchase Total</th>
          <th scope="col">Latest Price</th>
          <th scope="col">Latest Total</th>
          <th scope="col">Gain/(Loss)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="stocks.length === 0">
        <tr>
          <td colspan="8">There aren't any stocks to display. Please add stocks below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let stock of stocks">
          <td>{{stock.ticker}}</td>
          <td>{{stock.shares}}</td>
          <td>{{stock.purchasePrice | currency}}</td>
          <td>{{stock.purchaseTotal | currency}}</td>
          <td>{{stock.latestPrice | currency}}</td>
          <td>{{stock.latestTotal | currency}}</td>
          <td>{{stock.gainloss | currency}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableStockEditing(stock)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteStock(stock)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="8">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editStock(stock)">
              <input class="form-control mr-2" type="text" name="ticker" [(ngModel)]="stock.ticker" placeholder="Ticker" required>
              <input class="form-control mr-2" type="number" name="shares" [(ngModel)]="stock.shares" placeholder="Shares" min="0" required>
              <input class="form-control mr-2" type="number" name="purchasePrice" [(ngModel)]="stock.purchasePrice" placeholder="Purchase Price" step="any" min="0" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelStockEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card" *ngIf="!isEditing">
		<h4 class="card-header">Add new stocks</h4>
		<div class="card-body">
			<form class="form-inline" [formGroup]="addStockForm" (ngSubmit)="addStock()">
				<input class="form-control mr-2" type="text" name="ticker" formControlName="ticker" placeholder="Ticker">
				<input class="form-control mr-2" type="number" name="shares" formControlName="shares" placeholder="Shares" min="0">
				<input class="form-control mr-2" type="number" name="purchasePrice" formControlName="purchasePrice" placeholder="Purchase Price" min="0">
				<button class="btn btn-primary" type="submit" [disabled]="!addStockForm.valid"><i class="fa fa-floppy-o"></i>Add</button>
			</form>
		</div>
  </div>
</div>
